<h1>Asstastic Statistics</h1>

<p>The Senate's women average <strong><%= @favg %></strong> points!</p>
<p>The Senate's men average <strong><%= @mavg %></strong> points!</p>
<p>The Senate's Democrats average <strong><%= @demavg %></strong> points!</p>
<p>The Senate's Republicans average <strong><%= @repavg %></strong> points!</p>

<table>
	<thead> <tr>
		<th>Name</th>
		<th>Portrait</th>
		<th>Badonkadonk<br>Points</th>
		<th>Gender</th>
		<th>State</th>
		<th>Party</th>
	</tr> </thead>
	<tbody>
		<% Senator.each.order(:score).reverse do |senator| %>
			<tr>
				<td><%=senator.name%></td>
				<td><img alt="<%=senator.name%>" src="/images/<%=senator.name%>.png"></td>
				<td><%=senator.score%></td>
				<td class="<%=senator.gender%>"><%=senator.gender%></td>
				<td><%=senator.state%></td>
				<td class="<%=senator.party%>"><%=senator.party%></td>
			</tr>
		<% end %>
	</tbody>
</table>